<app-sidebar></app-sidebar>
<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
      <p>
        Experienced Software Developer adept in bringing forth expertise in design,
        installation of software systems.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Summary</h3>
        <div class="resume-item pb-0">
          <h4>Anjana S Nair</h4>
          <p>
            <em
              >Experienced Software Engineer adept in offering cutting edge
              engineering solutions and effectively guiding developer teams.
              Skilled in problem solving and executing software tasks from start
              to finish.</em
            >
          </p>
          <ul>
            <li>Thiruvalla,Pathanamthitta</li>
            <li>+918281982420</li>
            <li>sanjananair199727@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>MCA</h4>
          <h5>2018 - 2020</h5>
          <p>
            <em
              >Mar Athanasios College For Advanced Studies
              Tiruvalla,Pathanamthitta</em
            >
          </p>
          <p>
            MACFAST is affiliated to the Mahatma Gandhi University, Kottayam,
            and approved by the All India Council for Technical Education
            (AICTE), New Delhi.
          </p>
        </div>
        <div class="resume-item">
          <h4>B.Sc Computer Science</h4>
          <h5>2015 - 2018</h5>
          <p><em>COLLEGE OF APPLIED SCIENCE MALLAPPALLY,Kottayam</em></p>
          <p>
            College of Applied Science Mallappally is affiliated to Mahatma
            Gandhi University and is established in 1998
          </p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Software Engineer</h4>
          <h5>May 03 ,2021 - Present</h5>
          <p>
            <em
              >Innovature Software Labs Private Ltd, TransAsia CyberPark
              Infopark phase2
            </em>
          </p>
          <ul>
            <li>
              Developed web services for new modules and optimized the existing
              web services.
            </li>
            <li>
              Being a development part of 4+ project during the 1.5-year period
            </li>
            <li>
              Created customized and individualized solutions based on specific
              needs of customers.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Internship(6 month), Python Full Stack Course</h4>
          <h5>october 10 ,2020 - March 11 2021</h5>
          <p>
            <em>Right Soft Options ,Kaloor </em>
          </p>
          <ul>
            <li>
              Learn python basics to advanced level.
            </li>
            <li>
              Developed web application using python and Django Framework.
            </li>
            <li>
              Discussed and explored data science in python.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Resume Section -->
